* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Verdana, Geneva, Tahoma, Helvetica, sans-serif;
    max-width: 1024px;
    margin: auto;
}